#pageContainer.navPadding {
  padding-bottom: 72px;
}

#navbar .nav-link,
.cursor-pointer {
  cursor: pointer;
}

.nav-placeholder {
  width: 40px;
}

.card-produto {
  max-width: 512px;
}

.container-img-produto {
  overflow: hidden;
}

#spinner-carregamento .spinner-border {
  width: 4rem;
  height: 4rem;
}

/* Captura Wireframes */
html {
  filter: grayscale(100%) contrast(120%);
}