<template>
  <div class="row g-4 h-100">
    <div class="col-12 col-md-4">
      <a id="link-unidade" onclick="selecionarUnidade('id-unidade')" data-route="/cardapio"
        class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm">
          <img src="https://free-images.com/md/9b0e/restaurant_gastronomy_koblenz_human.jpg" class="card-img-top"
            alt="Unidade Centro" id="imagem-unidade">
          <div class="card-body">
            <h5 class="card-title">Unidade <span id="nome-unidade"></span></h5>
            <p class="card-text text-muted mb-0" id="endereco-unidade">Rua Principal, 123 - Centro</p>
          </div>
        </div>
      </a>
    </div>
</template>