<template>
  <div class="card card-produto">
    <div class="container-img-produto ratio ratio-16x9">
      <img src="./assets/cup404.svg" class="card-img-top img-produto object-fit-cover" alt="imagem do produto">
    </div>
    <div class="card-body">
      <h5 class="card-title">Produto</h5>
      <p class="card-text text-muted">
        R$ 10,99
      </p>
      <button class="btn btn-sm btn-outline-primary" data-id-produto="0">
        <i class="bi bi-cart-plus-fill me-1"></i>
        Adicionar ao carrinho
      </button>
    </div>
  </div>
</template>