<template>
  <nav class="navbar bg-white border-top fixed-bottom" id="navbar">
    <div class="container-fluid d-flex justify-content-around text-center">

      <!-- <a data-route="/inicio" class="nav-link text-secondary d-flex flex-column align-items-center" id="btn-nav-home">
        <i class="bi bi-house-fill fs-4"></i>
        <small>Início</small>
      </a> -->

      <a data-route="/configdispositivo" data-access-levels="administrador"
        class="nav-link text-secondary d-flex flex-column align-items-center d-none" id="btn-nav-config">
        <i class="bi bi-gear-fill fs-4"></i>
        <small>Configuração</small>
      </a>

      <a data-route="/cardapio" data-highlight-at="/unidades" data-show-on-devices="totem, webapp, atendimento"
        data-access-levels="cliente, atendente" class="nav-link text-secondary d-flex flex-column align-items-center"
        id="btn-nav-cardapio">
        <i class="bi bi-clipboard2-fill fs-4"></i>
        <small>Cardápio</small>
      </a>

      <a data-route="/carrinho" id="btn-nav-perfil" data-show-on-devices="totem, webapp, atendimento"
        data-access-levels="cliente, atendente"
        class="nav-link text-secondary d-flex flex-column align-items-center position-relative">
        <i class="bi bi-cart-fill fs-4"></i>
        <small>Carrinho</small>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          id="cart-quantity">
          0
        </span>
      </a>

      <!-- Pedidos Cliente -->
      <a data-route="/historicopedidos" class="nav-link text-secondary d-flex flex-column align-items-center"
        id="btn-nav-historico" data-show-on-devices="totem, webapp, atendimento" data-access-levels="cliente">
        <i class="bi bi-receipt fs-4"></i>
        <small>Pedidos</small>
      </a>

      <!-- Pedidos Unidade -->
      <a data-route="/filapedidos" class="nav-link text-secondary d-flex flex-column align-items-center"
        id="btn-nav-historico" data-show-on-devices="totem, webapp, atendimento"
        data-access-levels="cozinha, atendente, administrador">
        <i class="bi bi-receipt fs-4"></i>
        <small>Pedidos</small>
      </a>

      <a onclick="logOut()" class="nav-link text-secondary d-flex flex-column align-items-center" id="btn-nav-historico"
        data-show-on-devices="totem, webapp, atendimento" data-access-levels="cozinha, atendente, administrador">
        <i class="bi bi-box-arrow-right fs-4"></i>
        <small>Logout</small>
      </a>

      <a data-route="/perfil" data-highlight-at="/fidelidade" id="btn-nav-perfil" data-show-on-devices="totem, webapp"
        class="nav-link text-secondary d-flex flex-column align-items-center"
        data-access-levels="cliente, atendente, administrador">
        <i class="bi bi-person-circle fs-4"></i>
        <small>Perfil</small>
      </a>

    </div>
  </nav>
</template>